[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/astavonin/spdlog
[submodule "externals/hayai"]
	path = externals/hayai
	url = https://github.com/nickbruun/hayai
[submodule "externals/prettyprint"]
	path = externals/prettyprint
	url = https://github.com/louisdx/cxx-prettyprint
