<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.stavonin.tasksexplorerd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/TasksExplorer/tasksexplorerd</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WatchPaths</key>
	<array>
		<string>/Library/Application Support/TasksExplorer/watch_dir</string>
	</array>
</dict>
</plist>
